  :root {
  --violet: #7776BC;
  --lavender: #CDC7E5;
  --cream: #FFFBDB;
  --sunshine: #FFEC51;
  --tomato: #FF674D;
}
@keyframes clickbutton {
  0%{
    background-color: var(--sunshine);
  }
  100%{
    background-color: var(--tomato);
  }
}
button:focus {
  animation-name: clickbutton;
  animation-duration: .2s;
  animation-timing-function: ease-out;
}
div::-webkit-scrollbar {
    width: 12px;
}
div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: var(--cream);
}
@font-face {
  font-family: 'alata';
  src:  url('./assets/fonts/Alata-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'fredoka';
  src:  url('./assets/fonts/FredokaOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'russo';
  src:  url('./assets/fonts/RussoOne-Regular.ttf') format('truetype');
}
@keyframes revealwinner {
  0%{
    background-color: transparent;
    transform: translate(-25px,0) rotate(0deg);
  }
  100%{
    transform: translate(0,0) rotate(720deg);
  }
}
.animate-reveal-lottoball1{
  animation-name: revealwinner;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
}
.animate-reveal-lottoball2{
  animation-name: revealwinner;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}
.animate-reveal-lottoball3{
  animation-name: revealwinner;
  animation-duration: 3.5s;
  animation-timing-function: ease-in-out;
}
.animate-reveal-lottoball4{
  animation-name: revealwinner;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
}
.animate-reveal-lottoball5{
  animation-name: revealwinner;
  animation-duration: 4.5s;
  animation-timing-function: ease-in-out;
}
.animate-reveal-pwrball{
  animation-name: revealwinner;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
}
@keyframes drawlotto {
  0%{
    background-color: transparent;
    transform: translate(-30px,0)
  }
  100%{
    background-color: var(--sunshine);
    transform: translate(0,0);
  }
}
.animate-lottoball {
    animation-name: drawlotto;
    animation-duration: 1.5s;
}
@keyframes drawpower {
  0%{
    background-color: transparent;
    transform: translate(-30px,0)
  }
  100%{
    transform: translate(0,0);
  }
}
@keyframes ticketpurchase {
  0%{
    background-color: transparent;
    transform: translate(0,-25px)
  }
  100%{
    transform: translate(0,0);
  }
}

.powerball {
  border-radius: 50%;
    background-color: var(--tomato);
  font-family: 'fredoka';
  padding: .5em;
  margin: 0 .5em;
  width: 1em;
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.center-num {
  color: white;
}
.counter {
  color: var(--cream);
}

#App {
  font-family: 'alata';
  color: black;
  background-color: var(--cream);
}

#header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(var(--cream), var(--lavender));
  padding-bottom: 2em;
}
#header-container {
  display:flex;
  flex-direction: row;
  margin-top: 2em;
}
#title-container {
  display: flex;
  flex-direction: column;
}
#logo {
  width: 15em;
  margin-top: 3em;
}
.series-title {
  font-family: 'russo';
  font-size: 4em;
  margin: 0;
}
.header-subtitle {
  margin: 0;
  font-family: 'fredoka';
  color: var(--violet);
  text-align: center;
  font-size: 3em;
}



#summary {
  background-color: var(--lavender);
  display: flex;
  flex-direction: row;
}
.section-title {
  font-family: 'russo';
  color: white;
  font-size: 1.8em;
  letter-spacing: .1em;
}
.section-paragraph {
  font-size: 1em;
  text-indent: 2em;
  padding-right: 2em;
}
#summary-left {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: auto;
}
#summary-right {
  display: flex;
  width: 30%;
  margin-right: auto;
}
#howtowin {
  width: 100%;
  padding: 0 3em;
}
#howtowin-background {
  background-image: linear-gradient(90deg, var(--lavender), white);
  border: .3em solid white;
  padding: 1em;
  border-radius: 2em;
}

.jack-pot-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: .75em 0;
}
.jackpot-lottoball {
  font-family: 'fredoka';
  color: white;
  background-color: var(--violet);
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: .2em;
}
.jackpot-sign {
  font-family: 'fredoka';
  color: var(--violet);
  padding: .1em;
}
.jackpot-powerball {
  font-family: 'fredoka';
  color: white;
  background-color: var(--tomato);
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jackpot-prize {
  font-family: 'fredoka';
  margin-left: auto;
  width: 8em;
  text-align: center;
}



.animate-pwrball {
    animation-name: drawpower;
    animation-duration: 1.5s;
}
#game {
  background-color: var(--lavender);
  padding-bottom: 1em;
}
#simulation-title {
  font-family: 'fredoka';
  color: var(--violet);
  margin: 0;
  text-align: center;
  font-size: 2.5em;
  padding: .5em;
}
#ticket-machine {
  display: flex;
  width: 30%;
  margin-left: auto;
  flex-direction: column;
  margin-right: 2em;
}
#ticket-wallet {
  background-color: var(--violet);
  padding: .4em;
  width: 19em;
  border-radius: .5em;
  height: 20em;
  overflow-y: scroll;
}


.ticket {
  animation-name: ticketpurchase;
  animation-duration: 1.5s;
  display: flex;
  flex-direction: row;
  background-color: var(--cream);
  padding: .5em;
  margin: .5em;
  align-items: center;
  border-radius: .5em;
}
.lotto-ball {
  height: 2.3em;
  width: 2.3em;
  font-family: 'fredoka';
  border-radius: 50%;
  color: white;
  background-color: var(--lavender);
  margin: .2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes matchHighlight {
  0%{
    background-color: var(--sunshine);
    color: var(--tomato);
  }
  100%{
    background-color: var(--tomato);
    color: white;
  }
}
@keyframes matchHighlightBlue {
  0%{
    background-color: var(--sunshine);
    color: var(--violet);
  }
  100%{
    background-color: var(--lavender);
    color: var(--sunshine);
  }
}

.matched {
  background-color: var(--lavender);
  color: white;
  animation-name: matchHighlightBlue;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-direction: alternate;
}
.pwrmatched {
  background-color: var(--tomato);
  color: white;
  animation-name: matchHighlight;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-direction: alternate;
}
.pwrball {
  height: 2.6em;
  width: 2.6em;
  font-family: 'fredoka';
  border-radius: 50%;
  color: white;
  background-color: var(--tomato);
  margin: .2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#lotto-machine {
  display: flex;
  width: 30%;
  margin-right: auto;
  flex-direction: column;
  margin-left: 2em;
  justify-content: center;
  align-items: center;
}
#buy-tickets {
  display: flex;
  flex-direction: column;
}
.title-spacing {
  margin: 0 0 1em;
}
.buy-button {
  font-family: 'russo';
  padding: .3  em;
  color: var(--cream);
  background-color: var(--lavender);
  border: .3em solid var(--violet);
  border-radius: 1em;
  margin-bottom: .2em;
  font-size: 1.5em;
}
.buy-button:hover {
  background-color: var(--violet);
  cursor: pointer;
}
#super-ball {
  background-color: var(--violet);
  border-radius: 50%;
  border: .5em solid var(--cream);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 19em;
  width: 19em;
}
#winning-numbers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#machine-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1em 0 0;
}
#buy-ticket-button {
  border: .3em solid var(--violet);
  background-color: var(--lavender);
  border-radius: 1em;
  text-transform: uppercase;
  color: var(--cream);
  font-family: 'russo';
  font-size: 1em;
  margin-right: 2em;
  padding: .5em .7em;
}
#buy-ticket-button:hover {
  background-color: var(--violet);
  color: var(--cream);
  cursor: pointer;
}
#draw-winner-button {
  border: .3em solid var(--tomato);
  background-color: var(--lavender);
  border-radius: 1em;
  text-transform: uppercase;
  color: var(--cream);
  font-family: 'russo';
  font-size: 1em;
  padding: .5em .7em;
}
#draw-winner-button:hover {
  background-color: var(--tomato);
  cursor: pointer;
}
#input-numbers {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1em 0;
}

.input-number {
  height: 2em;
  width: 2em;
  background-color: var(--violet);
  font-family: 'fredoka';
  border-radius: 50%;
  color: var(--cream);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .2em;
}
.pwr-input-number {
  height: 2em;
  width: 2em;
  background-color: var(--tomato);
  font-family: 'fredoka';
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .2em;
}
#error-message {
  font-family: 'fredoka';
  margin: 0;
  padding: 1em 0 1em;
}
#keypad {
  display: grid;
  grid-template-columns: 3em 3em 3em;
  grid-template-rows: 3em 3em 3em 3em;
  column-gap: .1em;
  row-gap: .1em;
}
#input-ball {
  font-family: 'fredoka';
  color: var(--violet);
  border: 2px solid var(--violet);
  font-size: 1.5em;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-key {
  border: .3em solid var(--violet);
  background-color: var(--lavender);
  font-family: 'russo';
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--cream);
}
.input-key:hover {
  background-color: var(--violet);
  cursor: pointer;
}

#footer {
  padding-top: 2em;
  background-image: linear-gradient(var(--lavender), var(--cream));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20em;
}

#footer-title {
  font-family: 'fredoka';
  color: var(--violet);
}

.math-paragraph {
  max-width: 25em;
  padding: 0 2em;
  text-indent: 2em;
}
#math1-svg {
  background-image: url('./assets/svgs/mathsvg1.svg');
  background-repeat: no-repeat;
  background-position:top;
  background-size:contain;
  height: 5em;
  width: 30em;
}
#math2-svg {
  background-image: url('./assets/svgs/mathsvg2.svg');
  background-repeat: no-repeat;
  background-position:top;
  background-size:contain;
  height: 5em;
  width: 30em;
}
#math3-svg {
  background-image: url('./assets/svgs/mathsvg3.svg');
  background-repeat: no-repeat;
  background-position:left;
  background-size:contain;
  height: 12em;
  width: 55em;
  margin-bottom: 2em;
}
#math4-svg {
  background-image: url('./assets/svgs/mathsvg4.svg');
  background-repeat: no-repeat;
  background-position:left;
  background-size:contain;
  height: 10em;
  width: 55em;
}
#math5-svg {
  background-image: url('./assets/svgs/mathsvg5.svg');
  background-repeat: no-repeat;
  background-position:left;
  background-size:contain;
  height: 10em;
  width: 55em;
}
#math6-svg {
  background-image: url('./assets/svgs/mathsvg6.svg');
  background-repeat: no-repeat;
  background-position:left;
  background-size:contain;
  height: 10em;
  width: 55em;
}
#math7-svg {
  background-image: url('./assets/svgs/mathsvg7.svg');
  background-repeat: no-repeat;
  background-position:left;
  background-size:contain;
  height: 10em;
  width: 55em;
}
.math1-container {
  padding: 1em;
  align-items: center;
}
.math2-container {
  padding: 1em;
  align-items: center;
}
.math-paragraph-wide {
  max-width: 55em;
  padding: 0 2em;
  text-indent: 2em;
}


@media only screen and (max-width: 1920px) {

}
@media only screen and (max-width: 1150px) {
  #header {
    font-size: .8em;
  }
  #summary {
    flex-direction: column;
  }
  #summary-right, #summary-left{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  #game {
    font-size: .8em;
  }
}
@media only screen and (max-width: 925px) {
  #header {
    font-size: .6em;
  }
  #logo {
    width: 10em;
  }
  .series-title {
    font-size: 5em;
  }
  #lotto-machine {
    width: auto;
  }
  #ticket-machine {
      width: auto;
  }
}
@media only screen and (max-width: 750px) {
  #summary {
    font-size: .8em;
  }
}
@media only screen and (max-width: 630px) {

}
